{:deps true
 :builds
 {:preload
  {:target :browser
   :output-dir "dist/preload"
   :asset-path "."
   :modules {:preload {:entries [re-frame-inspector.preload]}}
   :compiler-options {:source-map true}}

  :test
  {:target :node-test
   :output-to "target/cljs-tests.js"
   :ns-regexp "-test$"
   :autorun true}

  :fixture-react17
  {:target :browser
   :output-dir "dist/fixtures/react17/js"
   :asset-path "js"
   :modules {:fixture {:entries [re-frame-inspector.fixture]}}
   :js-options {:resolve {"react" {:target :npm :require "react17"}
                          "react-dom" {:target :npm :require "react-dom17"}}}
   :devtools {:preloads [re-frame-inspector.preload]}}

  :fixture-react18
  {:target :browser
   :output-dir "dist/fixtures/react18/js"
   :asset-path "js"
   :modules {:fixture {:entries [re-frame-inspector.fixture]}}
   :devtools {:preloads [re-frame-inspector.preload]}}}}
